/120823Rifca_ExportTest/
/120626AG_HeadRifca3.2_MDiffuse_Boned_AlmostFinal.blend
/120626AG_HeadRifca3.2_NOSUB_AlmostFinal.dae
/120823Rifca_ExportTest.zip
/AmbientOcclusion_Working.blend
/Hair-mesh-finished+Shader_diffuse+baseTexture.blend
/IntVisClientAssessment_Batch2.zip
/RifcaRemarks.txt
/Shaders+hair9includingtextures.blend
/Tangent_test.blend
/Tangent_test.blend1
/Tangent_test.blend2
/Tangent_test5.blend
/Tangent_test5.blend1
/Tangent_test5.blend2
/Tangent_test5.dae
/hair9includingtextures.dae
/head_v1.2.blend
/head_v1.2.dae
/head_v1.2.zip
