build
privateprops
lib
report
dist
.classpath
.project
*.*~
*.swp
manifest.mf
/HmiTTSSapi5/cpp/sapi5/ttsinterface.ncb
/HmiTTSSapi5/cpp/sapi5/ttsinterface.suo
/HmiTTSSapi5/cpp/sapi5/ttsinterface.vcproj.EWI.welberge.user
/HmiTTSSapi5/cpp/sapi5/ttsinterface.vcproj.HARSENS.Herwin.user
nbproject
*/docs/Hmi*
/docs/HmiCore
nbbuild.xml
/myDocs/
