/HMIPackages.aux
/HMIPackages.bbl
/HMIPackages.blg
/HMIPackages.log
/HMIPackages.out
/HMIPackages.pdf
/HMIPackages.tex.bak
/HmiResource.tex.bak
/HmiResourceChapter.tex.bak
/HmiResourceReport.aux
/HmiResourceReport.bbl
/HmiResourceReport.blg
/HmiResourceReport.log
/HmiResourceReport.out
/HmiResourceReport.synctex
/HmiResourceReport.tex.bak
